# Sprint 3.5: Data Exploration

## Objectius

* Exploratory Analysis
* Dataframes

## Exercicis

### Exercici 1

**Descarrega el data set** [Airlines Delay: Airline on-time statistics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) **i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.**

In [1]:
import pandas as pd

df = pd.read_csv('files/DelayedFlights.csv')
pd.set_option('display.max_columns', None)
df.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,N763SW,240.0,250.0,230.0,57.0,67.0,IND,LAS,1591,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,100,N690SW,130.0,135.0,106.0,1.0,6.0,IND,MCO,828,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,N334SW,121.0,135.0,107.0,80.0,94.0,IND,MCO,828,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,N263WN,52.0,50.0,37.0,11.0,9.0,IND,MDW,162,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,N286WN,228.0,240.0,213.0,15.0,27.0,IND,PHX,1489,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [2]:
df.shape

(1936758, 30)

In [3]:
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [4]:
df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,3.341651e+06,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,6.812975e+00,1.823220e+01,3.268348e-04,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,2.066065e+06,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,5.273595e+00,1.433853e+01,1.807562e-02,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.517452e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.242558e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,4.972467e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,7.009727e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [5]:
delays_df = df.drop(columns=['Unnamed: 0', 'FlightNum', 'TailNum', 'Cancelled', 'CancellationCode', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'TaxiIn', 'TaxiOut'])
delays_df.head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Diverted
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,0
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,0
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,0

### Exercici 2

**Fes un informe complet del data set:**

- Resumeix estadísticament les columnes d’interès
- Troba quantes dades faltants hi ha per columna
- Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
- Taula de les aerolínies amb més endarreriments acumulats
- Quins són els vols més llargs? I els més endarrerits?
- Etc.

#### Estadístiques més rellevants:

In [6]:
delays_df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Diverted
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.936758e+06
mean,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,4.003598e-03
std,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,6.314722e-02
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,0.000000e+00
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,1.000000e+00

Total number of data (rows/data entries, columns):

In [7]:
delays_df.shape

(1936758, 18)

Which airlines are in the dataset?

In [8]:
delays_df['UniqueCarrier'].unique()

array(['WN', 'XE', 'YV', 'OH', 'OO', 'UA', 'US', 'DL', 'EV', 'F9', 'FL',
       'HA', 'MQ', 'NW', '9E', 'AA', 'AQ', 'AS', 'B6', 'CO'], dtype=object)

Total of airlines:

In [9]:
delays_df['UniqueCarrier'].unique().size

20

Data of how many years?

In [10]:
delays_df['Year'].unique()

array([2008])

#### Columns with missing data

In [11]:
delays_df.columns[delays_df.isnull().any()].tolist()

['ArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay']

#### Order column/attribute by number of missing data:

In [12]:
delays_df.isna().sum().sort_values(ascending = False)

ArrDelay             8387
AirTime              8387
ActualElapsedTime    8387
ArrTime              7110
CRSElapsedTime        198
Diverted                0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
UniqueCarrier           0
CRSArrTime              0
Distance                0
DepDelay                0
Origin                  0
Dest                    0
Year                    0
dtype: int64

In [13]:
delays_df.head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Diverted
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,0
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,0
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,0

#### New columns: distance (in km), average speed, boolean to know if the flight was late

In [14]:
delays_df['Distance_km'] = delays_df['Distance'] * 1.609344 #km
delays_df['AverageSpeed'] = (60 * delays_df['Distance_km']) / delays_df['ActualElapsedTime'] # km/h

#delay_df['IsArrivalDelay'] = delays_df.apply (lambda row: is_delay(row), axis=1)
delays_df['IsArrivalDelay'] = delays_df.apply(lambda x: True if x['ArrDelay'] > 0 else False, axis=1)
delays_df.head(20)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Diverted,Distance_km,AverageSpeed,IsArrivalDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,150.0,116.0,-14.0,8.0,IAD,TPA,810,0,1303.568640,611.047800,False
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,145.0,113.0,2.0,19.0,IAD,TPA,810,0,1303.568640,611.047800,True
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,90.0,76.0,14.0,8.0,IND,BWI,515,0,828.812160,518.007600,True
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,90.0,77.0,34.0,34.0,IND,BWI,515,0,828.812160,552.541440,True
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,115.0,87.0,11.0,25.0,IND,JAX,688,0,1107.228672,657.759607,True
5,2008,1,3,4,1937.0,1830,2037.0,1940,WN,240.0,250.0,230.0,57.0,67.0,IND,LAS,1591,0,2560.466304,640.116576,True
6,2008,1,3,4,706.0,700,916.0,915,WN,130.0,135.0,106.0,1.0,6.0,IND,MCO,828,0,1332.536832,615.016999,True
7,2008,1,3,4,1644.0,1510,1845.0,1725,WN,121.0,135.0,107.0,80.0,94.0,IND,MCO,828,0,1332.536832,660.762065,True
8,2008,1,3,4,1029.0,1020,1021.0,1010,WN,52.0,50.0,37.0,11.0,9.0,IND,MDW,162,0,260.713728,300.823532,True
9,2008,1,3,4,1452.0,1425,1640.0,1625,WN,228.0,240.0,213.0,15.0,27.0,IND,PHX,1489,0,2396.313216,630.608741,True
10,2008,1,3,4,754.0,745,940.0,955,WN,226.0,250.0,205.0,-15.0,9.0,IND,PHX,1489,0,2396.313216,636.189349,False
11,2008,1,3,4,1323.0,1255,1526.0,1510,WN,123.0,135.0,110.0,16.0,28.0,IND,TPA,838,0,1348.630272,657.868425,True
12,2008,1,3,4,1416.0,1325,1512.0,1435,WN,56.0,70.0,49.0,37.0,51.0,ISP,BWI,220,0,354.055680,379.345371,True
13,2008,1,3,4,1657.0,1625,1754.0,1735,WN,57.0,70.0,47.0,19.0,32.0,ISP,BWI,220,0,354.055680,372.690189,True
14,2008,1,3,4,1900.0,1840,1956.0,1950,WN,56.0,70.0,49.0,6.0,20.0,ISP,BWI,220,0,354.055680,379.345371,True
15,2008,1,3,4,1039.0,1030,1133.0,1140,WN,54.0,70.0,47.0,-7.0,9.0,ISP,BWI,220,0,354.055680,393.395200,False
16,2008,1,3,4,1520.0,1455,1619.0,1605,WN,59.0,70.0,50.0,14.0,25.0,ISP,BWI,220,0,354.055680,360.056624,True
17,2008,1,3,4,1422.0,1255,1657.0,1610,WN,155.0,195.0,143.0,47.0,87.0,ISP,FLL,1093,0,1759.012992,680.908255,True
18,2008,1,3,4,1954.0,1925,2239.0,2235,WN,165.0,190.0,155.0,4.0,29.0,ISP,FLL,1093,0,1759.012992,639.641088,True
19,2008,1,3,4,2107.0,1945,2334.0,2230,WN,147.0,165.0,134.0,64.0,82.0,ISP,MCO,972,0,1564.282368,638.482599,True

#### Airlines with more cumulative delays

- **UniqueCarrier**: airline
- **sum**: total minutes of delays
- **TotalHoursDelay**: total hours of delays

In [15]:
import numpy as np

airline_delays = delays_df.groupby(['UniqueCarrier'])['ArrDelay'].agg([np.sum])
airline_delays.reset_index(inplace = True)
airline_delays['TotalHoursDelay'] = airline_delays['sum'] / 60
airline_delays.sort_values(['sum'], ascending=False, inplace = True)
airline_delays

   UniqueCarrier         sum  TotalHoursDelay
17            WN  11319092.0    188651.533333
1             AA   8889066.0    148151.100000
15            UA   6733013.0    112216.883333
11            MQ   6396704.0    106611.733333
14            OO   5978936.0     99648.933333
18            XE   5176042.0     86267.366667
6             DL   4535644.0     75594.066667
5             CO   4045932.0     67432.200000
7             EV   3888131.0     64802.183333
19            YV   3691461.0     61524.350000
16            US   3571867.0     59531.116667
12            NW   3462075.0     57701.250000
9             FL   3100150.0     51669.166667
4             B6   3025749.0     50429.150000
13            OH   2675993.0     44599.883333
0             9E   2420468.0     40341.133333
3             AS   1406735.0     23445.583333
8             F9    788549.0     13142.483333
10            HA    255613.0      4260.216667
2             AQ     15814.0       263.566667

#### Longest flights (time)

By elapsed time from departure to arrival.

In [16]:
delays_df.sort_values(['ActualElapsedTime'], ascending=False).head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Diverted,Distance_km,AverageSpeed,IsArrivalDelay
1488690,2008,9,9,2,1411.0,920,545.0,1215,HA,1114.0,355.0,1091.0,1050.0,291.0,SEA,HNL,2677,0,4308.213888,232.040245,True
1926817,2008,12,19,5,1407.0,1335,2217.0,1935,CO,790.0,660.0,634.0,162.0,32.0,EWR,HNL,4962,0,7985.564928,606.498602,True
1173580,2008,7,23,3,1727.0,1645,323.0,2033,DL,776.0,408.0,346.0,410.0,42.0,JFK,SFO,2586,0,4161.763584,321.785844,True
1418032,2008,8,2,6,1808.0,1335,38.0,1810,CO,750.0,635.0,597.0,388.0,273.0,EWR,HNL,4962,0,7985.564928,638.845194,True
1367047,2008,8,19,2,1547.0,1230,717.0,2105,HA,750.0,335.0,733.0,612.0,197.0,HNL,SEA,2677,0,4308.213888,344.657111,True

#### More delayed flights

By arrival delay

In [17]:
delays_df.sort_values(['ArrDelay'], ascending=False).head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Diverted,Distance_km,AverageSpeed,IsArrivalDelay
322516,2008,2,3,7,1117.0,1820,2256.0,555,NW,459.0,455.0,437.0,2461.0,2457.0,HNL,MSP,3972,0,6392.314368,835.596649,True
686014,2008,4,10,4,724.0,1417,858.0,1605,NW,154.0,168.0,132.0,2453.0,2467.0,CLT,MSP,930,0,1496.689920,583.125943,True
839306,2008,5,6,2,2.0,1530,254.0,1823,NW,172.0,173.0,145.0,1951.0,1952.0,RSW,DTW,1085,0,1746.138240,609.117991,True
1009553,2008,6,20,5,2140.0,1710,2252.0,1825,MQ,72.0,75.0,50.0,1707.0,1710.0,LIT,DFW,304,0,489.240576,407.700480,True
1881639,2008,12,19,5,1602.0,1325,1921.0,1546,NW,259.0,201.0,192.0,1655.0,1597.0,BOS,MSP,1124,0,1808.902656,419.050808,True

#### Longest flights (distance)

In [18]:
delays_df.sort_values(['Distance_km'], ascending=False).head(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Diverted,Distance_km,AverageSpeed,IsArrivalDelay
1255581,2008,7,18,5,2001.0,1955,1126.0,1130,CO,565.0,575.0,543.0,-4.0,6.0,HNL,EWR,4962,0,7985.564928,848.024594,False
1926346,2008,12,20,6,2333.0,2055,1348.0,1120,CO,555.0,565.0,528.0,148.0,158.0,HNL,EWR,4962,0,7985.564928,863.304317,True
718062,2008,4,25,5,1345.0,1335,1826.0,1810,CO,641.0,635.0,620.0,16.0,10.0,EWR,HNL,4962,0,7985.564928,747.478776,True
1928077,2008,12,16,2,2135.0,2055,1148.0,1120,CO,553.0,565.0,523.0,28.0,40.0,HNL,EWR,4962,0,7985.564928,866.426574,True
173695,2008,1,13,7,1326.0,1320,1912.0,1920,CO,646.0,660.0,621.0,-8.0,6.0,EWR,HNL,4962,0,7985.564928,741.693337,False

#### Airlines ordered by number of flights

In [19]:
delays_df['UniqueCarrier'].value_counts()

WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
DL    114238
XE    103663
CO    100195
US     98425
EV     81877
NW     79108
FL     71284
YV     67063
B6     55315
OH     52657
9E     51885
AS     39293
F9     28269
HA      7490
AQ       750
Name: UniqueCarrier, dtype: int64

#### Airline with more km

In [20]:
airline_km = delays_df.groupby(['UniqueCarrier'])['Distance_km'].agg([np.sum]).astype(int)
airline_km.reset_index(inplace = True)
airline_km.sort_values(['sum'], ascending=False, inplace = True)
airline_km

   UniqueCarrier        sum
17            WN  395492552
1             AA  334094625
15            UA  245781514
5             CO  199947077
6             DL  178062809
16            US  153283961
12            NW  104929907
18            XE   99935846
11            MQ   99007930
4             B6   98629545
14            OO   93890907
9             FL   83985911
7             EV   60810278
3             AS   59739222
19            YV   43964992
13            OH   43497032
8             F9   40810345
0             9E   38781702
10            HA   10854497
2             AQ    1074081

#### Vols més llargs amb més retard

In [21]:
longest_delayed_flights = delays_df.groupby(['UniqueCarrier', 'Distance_km'])['ArrDelay'].agg([np.sum]).astype(int)
longest_delayed_flights.reset_index(inplace = True)
longest_delayed_flights['TotalHoursDelay'] = longest_delayed_flights_df['sum'] / 60
longest_delayed_flights.sort_values(['sum'], ascending=False, inplace = True)
longest_delayed_flights.head(10)

NameError: name 'longest_delayed_flights_df' is not defined

### Exercici 3

**Exporta el data set net i amb les noves columnes a Excel.**

In [ ]:
#writer = pd.ExcelWriter("files/flight_delays.xlsx", engine = 'xlsxwriter')

with pd.ExcelWriter("files/flight_delays.xlsx") as writer:
    
    # Limit number of exported rows to avoid the following error:
    #       ValueError: Row numbers must be between 1 and 1048576
    delays_df.iloc[0:50000].to_excel(writer, sheet_name='Flight Delays Data')

    airline_delays.to_excel(writer, sheet_name='Airline Delays')
    airline_km.to_excel(writer, sheet_name='Airline Km')

#writer.save()
#writer.close()

## Resources

* https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/
* https://www.tutorialspoint.com/python_pandas/python_pandas_groupby.htm
* https://stackoverflow.com/questions/27842613/pandas-groupby-sort-within-groups
* https://tutswiki.com/pandas-cookbook/
* https://www.kaggle.com/giovamata/airlinedelaycauses
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html